/*  
* SVGs downloaded from https://fontawesome.com/search are black by default
* This makes them white.
*/
.fontawesome {
    filter: brightness(0) invert(1);
    width: 1.5em;
    height: 1.5em;
}

/* Custom font */
body {
    font-family:
        "HarmonyOS Sans SC", "PingFang SC", "Hiragino Sans GB",
        "Droid Sans Fallback", "Microsoft YaHei", "Lato", sans-serif !important;
    transition: all 0.3s ease-in-out;
}
